.container{
    height:500px;
    border: 2px solid green;
}

.flex-container{
    border: 2px dashed purple;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 500px;
    margin: auto;
}

.box{
    padding: 30px;
    font-size: 30px;
    color: blue;
    margin: 20px;
    border: 1px solid red;
    background-color: #fec0cb;
}